*
!.gitignore
!README.md
!LICENSE
!include/
!include/*/
!include/*/*.h
!include/*/*/
!include/*/*/*.h
!test/
!test/*.h
!test/*.cpp
!test/*.c
!test/*/
!test/*/*.h
!test/*/*.cpp
!test/*/*.c
!test/*/*/
!test/*/*/*.h
!test/*/*/*.cpp
!test/*/*/*.c
!.clang-format
